* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	background: #24252a;
	height: 100%;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	font-size: 18px;
	color: #961C08;
	color: -webkit-radial-gradient(#7B0400, #961C08, #4A0007); /* For Safari 5.1 to 6.0 */
    color: -o-radial-gradient(#7B0400, #961C08, #4A0007); /* For Opera 11.6 to 12.0 */
    color: -moz-radial-gradient(#7B0400, #961C08, #4A0007); /* For Fx 3.6 to 15 */
    color: radial-gradient(#7B0400, #961C08, #4A0007); /* Standard syntax (must be last) */
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: purple;
}

.pagewrapper {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

/*===== FORM =========================*/
.container {
	display: flex;
	justify-content: center;
	width: 400px;
	background: -webkit-radial-gradient(circle, #EFD598, #D9B477, #9D7C58); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(circle, #EFD598, #D9B477, #9D7C58); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, #EFD598, #D9B477, #9D7C58); /* For Fx 3.6 to 15 */
    background: radial-gradient(circle, #EFD598, #D9B477, #9D7C58); /* Standard syntax (must be last) */
    box-shadow: 0 1px 30px 5px rgb(3, 3, 3);
    padding: 15px 5px 15px 5px;
}

form {
	width: 350px;
}

.form-group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.form-group:last-child {
	margin-bottom: none;
}

input {
	padding: 0 0 0 5px;
}