* {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body, .pagewrapper, .container {
	height: 100%;
	width: 100%;
}

body {
	background: #000000;
	display: flex;
	justify-content: center;
}

.pagewrapper {
	background: #000;
}

header {
	width: 100%;
	display: flex;
	justify-content: center;
}

.story {
	width: 1200px;
	background: rgba(227, 227, 227, 0.42);
	padding: 20px;
	font-family: arial;
	border-radius: 0 0 10px 10px;
}

.story p {
	color: #5F0101;
}

.container {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.selection {
	width: 1000px;
	display: flex;
	justify-content: space-around;
}

footer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.option {
	background: rgba(227, 227, 227, 0.42);
	border-radius: 5px;
	margin-bottom: 15px;
}

.option a {
	text-decoration: none;
	color: #5F0101;
	font-family: 'Indie Flower';
	padding: 5px;
	font-weight: bold;
	font-size: 22px;
	width: 250px;
	display: flex;
	justify-content: center;
}

/*Plaatskes*/

.ghosttown {
	background: url(../img/20160204_webstrijd_ghosttown2.png);
}