* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: #000000;
	display: flex;
	justify-content: center;
}

.pagewrapper {
	width: 1400px;
	height: 950px;
	background: #0F0F0F;
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	flex-direction: column;
}

.container {
	width: 1100px;
	height: 700px;
	background: url(http://lorempizza.com/1100/700/);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.selection {
	width: 1000px;
	display: flex;
	justify-content: space-around;
}

.option {
	background: #B37700;
	border-radius: 5px;
}

.option a {
	text-decoration: none;
	color: black;
	font-family: 'Indie Flower';
	margin: 5px 5px 5px 5px;
	font-weight: bold;
	font-size: 20px;
	height: 100px;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}